.Ul {
	max-width: 350px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: stretch;
	padding: 0;
	margin: 4rem auto 1rem auto !important;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.Form-Group-Prepend {
	margin-right: -1px;
	display: flex;
}

.Form-Group-Text {
	display: flex;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #007bff;
	text-align: center;
	white-space: nowrap;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: .25rem 0 0 .25rem;
}

.Form-Group-Text input[type=checkbox] {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: visible;
}

.Form-Group-Text-Disabled {
	display: flex;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #007bff;
	text-align: center;
	white-space: nowrap;
	background-color: #3e4444;
	border: 1px solid #3e4444;
	border-radius: .25rem 0 0 .25rem;
}

.Form-Group-Text-Disabled input[type=checkbox] {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: visible;
}

.Li {
	line-height: 1.5;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 auto;
	width: 1%;
	height: calc(2.25rem + 2px);
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	margin-left: -1px;
	background-color: #fff;
	color: #212121;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 0 .25rem .25rem 0;
	text-align: -webkit-match-parent;
	list-style-type: disc;
}

.Disabled {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #6c757d;
	background-color: #3e4444;
	font-weight: 200px;
	line-height: 1.5;
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	height: calc(2.25rem + 2px);
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	margin-left: -1px;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 0 .25rem .25rem 0;
	list-style-type: disc;
}

.Delete-Task {
	height: 18px !important;
	width: 18px !important;
	color: #fff;
	background-color: #dc3545;
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
	box-sizing: border-box;
}
