.Ul {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 4rem auto 0 auto;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
.Li {
	font-weight: 200px;
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	color: #212121;
	border: 1px solid rgba(0, 0, 0, .125);
	text-align: -webkit-match-parent;
	list-style-type: disc;
}
