.Form {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: center;
	height: 4rem;
}

.FormInput {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	margin: 0;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #ffffff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
	cursor: text;
	font: 400 11px system-ui;
	box-sizing: border-box;
	overflow: visible;
}

.FormButton {
	display: inline-block;
	border: 1px solid transparent;
	border-color: #135d69;
	border-radius: .25rem;
	padding: .375rem .75rem;
	margin: 0.5rem 0 0 0;
	height: 34px;
	text-decoration: none;
	background: #135d69;
	color: #fafbf6;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 400;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	overflow: visible;
	text-align: center;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
	-webkit-appearance: button;
	-moz-appearance: button;
	font: 400 11px system-ui;
}
