.App {
	background: linear-gradient(117deg, rgba(63, 94, 251, 1) 47%, rgba(252, 70, 107, 1) 87%);
	height: 100vh;
}

.AppTitleContainer {
	display: flex;
	justify-content: center;
}

.AppTitle {
	color: #fafbf6;
}
